//@import "reset";
@import "define";
body{
  font-family: "Microsoft Yahei", Arial, "宋体";
}
a, a:hover,a:visited,a:active{
  text-decoration: none;
}
/* 轮播广告 */
.carousel {
  margin-top: 50px;
  height: 600px;
  .item{
    height: 600px;
    background-color: #000;
  }
  img{
    width: 100%;
    min-height: 600px;
  }
}
.container{
  margin-top: 60px;
}
.thumbnail{
  img{
    width: 100%;
    height: 100%;
  }
}
.carousel-indicators{
  li{
    margin: 0 5px;
    &.active{
      margin: 0 5px;
      width: 10px;
      height: 10px;
    }
  }
}
.footer{
  margin-top: 50px;
  padding: 35px 0;
  line-height: 1.8;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  .container{
    margin-top: 0;
  }
}
.footer-link{
  a{
    margin: 0 10px;
  }
}
/* 响应式布局 */
@media (max-width: 480px) {
  .carousel {
    height: 250px;
    .item{
      height: 250px;
    }
    img {
      min-height: 250px;
    }
  }
  .container{
    margin-top: 10px;
  }
}
@media (min-width:480px) and (max-width: 768px) {
  .carousel {
    height: 300px;
    .item{
      height: 300px;
    }
    img {
      min-height: 300px;
    }
  }
  .container{
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1100px){
  .carousel {
    height: 420px;
    .item{
      height: 420px;
    }
    img {
      min-height: 420px;
    }
  }
  .container{
    margin-top: 40px;
  }
}