<!DOCTYPE html>
<html>
<head lang="en">
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>Owulia图书商城</title>
    <!--引入bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!--引入自己的样式-->
    <link href="../public/css/index.css" rel="stylesheet">
    <!--引入ico-->
    <link rel="shortcut icon" href="../public/images/favicon.ico">
    <!--IE8兼容媒体查询以及HTML5新元素标签-->
    <!--[if lt IE 9]>
    <script src="../public/script/html5shiv.js"></script>
    <script src="../public/script/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--导航条-->
    <nav class="navbar navbar-default navbar-fixed-top" id="navBar">
        <!--占据全屏宽度-->
        <div class="container-fluid">
            <!--导航条主体-->
            <div class="navbar-header">
                <!--小屏幕的时候出现的菜单ICON按钮-->
                <button @click="openNav()" v-bind:aria-expanded="nav_is_open" v-bind:class="{'collapsed':!nav_is_open}" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--/小屏幕的时候出现的菜单ICON按钮-->
                <!--logo-->
                <a class="navbar-brand" href="index.html">OWULIA</a>
                <!--/logo-->
            </div>
            <!--/导航条主体-->
            <!--可变动的导航条-->
            <div v-bind:class="{'in':nav_is_open}" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-th-large"></span> 分类</a></li>
                    <!--下拉选项-->
                    <li class="dropdown" v-bind:class="{'open':is_about}">
                        <a href="javascript:;" @click="openAbout()" class="dropdown-toggle"><span class="glyphicon glyphicon-info-sign"></span> 我们<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">网站信息</a></li>
                            <li><a href="#">站长信息</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </li>
                    <!--/下拉选项-->
                </ul>
                <!--搜索部分-->
                <form class="navbar-form navbar-left">
                    <!--搜索框-->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索你喜欢的~~~">
                        <!--搜索按钮-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <!--/搜索按钮-->
                    </div>
                    <!--/搜索框-->
                </form>
                <!--/搜索部分-->
                <!--导航条右边部分-->
                <!--用户登录之前-->
                <ul v-if="!is_login" class="nav navbar-nav navbar-right">
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                </ul>
                <!--/用户登录之前-->
                <!--用户登录之后-->
                <ul v-if="is_login" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span v-text="user_name"></span></a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            购物车(<strong class="text-danger" v-text="car_total_goods"></strong>)
                        </a>
                    </li>
                    <li><a href="javascript:;" @click="loginOut()"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                </ul>
                <!--/用户登录之后-->
                <!--/导航条右边部分-->
            </div>
            <!--/可变动的导航条-->
        </div>
        <!--/占据全屏宽度-->
    </nav>
    <!--/导航条-->

    <!--轮播图-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!--轮播图索引-->
        <ol class="carousel-indicators">
            <li v-for="( item, index ) in carouselArr" @click="switchCarouselByTrigger(index)" v-bind:data-slide-to="index" v-bind:class="{'active': index == active_index}" data-target="#carousel-example-generic"></li>
        </ol>
        <!--/轮播图索引-->
        <!--轮播图主体 -->
        <div class="carousel-inner" role="listbox">
            <div class="item" v-for="( item, index ) in carouselArr" v-bind:class="{'active': index == active_index}">
                <img v-bind:src="item.src">
                <div class="carousel-caption">
                    <h3 v-text="item.title"></h3>
                    <p v-text="item.prompt"></p>
                </div>
            </div>
        </div>
        <!--/轮播图主体 -->
        <!--轮播图按钮 -->
        <a class="left carousel-control" href="javascript:;" role="button" data-slide="prev" @click="switchCarouselByBtn(-1)">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="javascript:;" role="button" data-slide="next" @click="switchCarouselByBtn(1)">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
        <!--/轮播图按钮 -->
    </div>
    <!--/轮播图-->

    <!--图书商品部分-->
    <div class="container" id="container">

        <!--图书部分-->
        <div class="panel panel-default" v-for="( panel, panel_index) in bookArr">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a v-bind:href="panel.url" class="glyphicon glyphicon-th-list pull-right" aria-hidden="true"></a>
                    {{panel.title}}
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3" v-for="( book, book_index) in panel.books">
                        <a href="javascript:;" class="thumbnail">
                            <img src="../temp/images/index/book.jpg">
                            <div class="caption">
                                <h4 v-text="book.name"></h4>
                                <p class="text-info">
                                    <span v-if="!book.is_add" @click="addCart(book)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        加入购物车
                                    </span>
                                    <span v-if="book.is_add" @click="removeCart(book)">
                                        已加入购物车
                                    </span>
                                    <strong class="pull-right text-danger">{{book.price | moneyForRMB}}</strong>
                                </p>
                             </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/最新图书部分-->

    </div>
    <!--/图书商品部分-->

    <!--尾部-->
    <footer class="footer">
        <div class="container text-center">
            <div class="footer-link">
                <a href="#">企业合作</a>
                <a href="#">意见反馈</a>
                <a href="#">人才合作</a>
                <a href="#">友情链接</a>
                <a href="#">GitHub仓库</a>
            </div>
            <p>Copyright © 2016 owulia.com All Rights Reserved | 粤ICP备16081042号</p>
        </div>
    </footer>
    <!--/尾部-->

    <!--引入vue.js框架-->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/vue-resource/dist/vue-resource.js"></script>

    <!--引入自己的js-->
    <script src="../public/script/index.js"></script>

</body>
</html>