<!DOCTYPE html>
<html>
<head lang="en">
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>登录-Owulia图书商城</title>
    <!--引入bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!--引入自己的样式-->
    <link href="../public/css/index.css" rel="stylesheet">
    <!--IE8兼容媒体查询以及HTML5新元素标签-->
    <!--[if lt IE 9]>
    <script src="../public/script/html5shiv.js"></script>
    <script src="../public/script/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--引入vue.js框架-->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!--引入自己的js-->
    <script src="../public/script/index.js"></script>
</body>
</html>